* {
	font-family: monospace;
	text-shadow: 0.5px 0.5px black;
	font-size: 35px;
}

body {
	background: rgb(116, 171, 173)
}



#firstContent {
	background-color: rgb(47,79,79);
	width:700px;
	height: 250px;
	margin:auto;
	text-align:center;
	border-radius: 10px;
	color: white;
	letter-spacing: 5px;
	font-size: 25px;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	text-align: center;
	box-shadow: 5px 5px 5px 5px black;
}


#secondContent {
	background-color: rgb(47,79,79);
	border-radius: 10px;
	width: 550px;
	height: 510px;
	color: white;
	margin: auto;
	margin-top: 15px;
	position: relative;
	left: 125px;
	display:grid;
	grid-template-rows: 215px;
	box-shadow: 5px 5px 5px 5px black;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	text-align: center;
	font-family: monospace;

}

p {
	font-size: 40px;
	margin: auto;
	margin-top: 10px;
	display:grid;
	justify-content: center;
	align-items: center;
}

input {
	margin-right: 10px;
}


#buttonreload {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	font-size: 25px;
	margin-bottom: 25px;
}

#rock, #paper, #scissors {
	border-radius: 100%;
}

#rock:hover, #paper:hover, #scissors:hover {
	transform: scale(1.05);
}

#scoreboard {
	background-color: rgb(47,79,79);
	display: grid;
	float: right;
	box-shadow: 2px 2px 2px 2px black;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	border-radius: 10px;
	height: 300px;
	padding: 10px;
	align-items: center;
	color: white;
	font-family: monospace;
}

#reloadButton {
	visibility: hidden;
	position: absolute;
	top: 255px;
	left: 860px;
	width: 200px;
	height: 60px;
	font-size: 20px;
	border-radius: 10px;

	}

#DarkMode {
	border-radius: 100%;
	cursor: pointer;
}

.bodyBackground {
	background-color: black;
	transition: all .5s
}

.secondDarkMode {
	background-color: rgb(213, 222, 222) !important;
	color: black !important;
	transition: all .5s;
}

.firstDarkMode {
	background-color: rgb(213, 222, 222) !important;
	color: black !important;
	transition: all .5s;
}

.scoreBoardDarkMode {
	background-color: rgb(213, 222, 222) !important;
	color: black !important;
	transition: all .5s;
}

#rpsgif {
	z-index: 100;
	position: fixed;
	border-radius: 100%;
	bottom: 100px;
	visibility: hidden;
}